@media only screen and (max-width: 992px) {

    //for mobile
    .social-header {
        display: none;
    }

    .left-side {
        width: 100%;
    }

    .right-side {
        display: none;
    }
}

@media only screen and (min-width: 992px) {

    //for desktop and up
    .social-header {
        display: inline-block;
    }
    .navbar-brand{
        padding-left:3.5em;
    }

    .left-side {
        width: 75%;
    }

    .right-side {
        width: 25%;

    }
}

.nav-container {
    background-color: #343A40;
    display: flex;

    .right-side {
        background-color: #F8F9FA;
        text-align: center;

    }

    .navbar-nav .nav-item.active .nav-link,
    .navbar-nav .nav-item:hover .nav-link {
        color: #9E00FF;
    }

    
    .navbar-nav {
        margin-right: 4em;
        .nav-item {
            margin-right: 1em;
            color: #F8F9FA;
            font-size: clamp(1rem, 1vw, 4rem);

        }
    }

    a {
        color: #CED4DA;
        text-decoration: none;
    }

    .social-header {
        background-color: #F8F9FA;

        .social-logo {
            width: 2em;
            margin: 2em 1em;
        }
    }

    .navbar {
        padding: 1em 1em;
    }


}

.logo{
    width: 2.5em;
}
.burger{
    width: 2em;
}


