.section-container {
    padding: 3em 2.5em;
    position: relative;
    background: linear-gradient(180deg, #F8F9FA 50%, #343A40 50%);
    // background-image: url(../../public/bg1.svg);
    // background-repeat: no-repeat;
    // background-position-y: -5em;
    // background-size: 300px;


    .text-works {
        margin-bottom: 2em;
        font-weight: 600;
        color: #9E00FF;
        letter-spacing: 0.15em;

    }

    .upper-section {
        .header-my-works {
            h1 {
                font-weight: 600;
            }
        }
    }

    .lower-section {
        .header-my-works {
            h1 {
                font-weight: 600;
            }
        }
    }


    .card {
        background-color: white;
    }
 

}



@media only screen and (max-width: 992px) {

    //mobile
    .team-projects-bg-1 {
        content: "";
        position: absolute;
        width: 100%;
        height: 100vh;
        margin-top: 0;
        background: linear-gradient(to bottom right, #F8F9FA 50%, #DEE2E6 50%);
        top: 0;
        left: 0;
        z-index: -1;
    }

    .team-projects-bg-2 {
        content: "";
        position: absolute;
        width: 100%;
        height: 100vh;
        margin-top: 100vh;
        background: linear-gradient(to bottom right, #DEE2E6 50%, #F8F9FA 50%);
        top: 0;
        left: 0;
        z-index: -1;
    }

    .team-projects-bg-3 {
        content: "";
        position: absolute;
        width: 100%;
        height: 100vh;
        margin-top: 200vh;
        background: linear-gradient(to top right, #DEE2E6 50%, #F8F9FA 50%);
        top: 0;
        left: 0;
        z-index: -1;
    }

    .team-projects-bg-4 {
        content: "";
        position: absolute;
        width: 100%;
        height: 100vh;
        margin-top: 300vh;
        background: linear-gradient(to top right, #F8F9FA 50%, #DEE2E6 50%);
        top: 0;
        left: 0;
        z-index: -1;
    }

    .upper-section {
        margin-bottom: 10em;

        .header-my-works {
            h1 {
                font-size: 20px;
            }

            p {
                font-size: 12px;
                margin-top: -0.5em;
            }
        }

        .content {
            margin-top: 3em;

            .each-projects-desktop {
                display: none;
            }

            .each-projects-mobile {
                text-align: center;

                .card {
                    padding-bottom: 3em;

                    .card-title {
                        font-weight: 400;
                        padding-top: 1em;
                    }

                    .card-text {
                        font-weight: 300;
                    }

                }


            }
        }
    }

    .lower-section {
        margin-bottom: 10em;
        color: #F8F9FA;

        .header-my-works {
            h1 {
                font-size: 20px;
            }

            p {
                font-size: 12px;
                margin-top: -0.5em;
            }
        }

        .content {
            .each-projects-desktop {
                display: none;
            }

            .each-projects-mobile {
                text-align: center;

                .card {
                    padding-bottom: 3em;
                    color: #343A40;

                    .card-title {
                        font-weight: 400;
                        padding-top: 1em;

                    }

                    .card-text {
                        font-weight: 300;
                    }
                }

            }
        }
    }

    .team-projects {
        padding: 3em 2.5em;
        position: relative;

        .text-team {
            margin-bottom: 2em;
            font-weight: 600;
            color: #9E00FF;
            letter-spacing: 0.15em;

        }

        .content-portfolio {
            margin-bottom: 6em;

            h1 {
                font-weight: 600;
                font-size: 24px;
                margin-bottom: 0em;
            }

            .role {
                font-weight: 300;
                font-size: 1em;
            }

            .line {
                font-weight: 600;
                font-size: 1em;

            }

            .stack {
                font-weight: 600;
                font-size: 0.80em;
                color: #9E00FF;

            }

            p {
                margin-top: 1em;
            }

            .portfolio-image {
                margin-top: 1em;
                width: 100%;
                max-width: 600px;
                filter: drop-shadow(2px 2px 2px #343A40);

            }
        }

    }
}

@media only screen and (min-width: 992px) {

    //destkop
    .team-projects-bg-1 {
        content: "";
        position: absolute;
        width: 100%;
        height: 100vh;
        margin-top: 0;
        background: linear-gradient(to bottom right, #F8F9FA 50%, #DEE2E6 50%);
        top: 0;
        left: 0;
        z-index: -1;
    }

    .team-projects-bg-2 {
        content: "";
        position: absolute;
        width: 100%;
        height: 100vh;
        margin-top: 100vh;
        background: linear-gradient(to bottom right, #DEE2E6 50%, #F8F9FA 50%);
        top: 0;
        left: 0;
        z-index: -1;
    }

    .team-projects-bg-3 {
        content: "";
        position: absolute;
        width: 100%;
        height: 100vh;
        margin-top: 200vh;
        background: linear-gradient(to top right, #DEE2E6 50%, #F8F9FA 50%);
        top: 0;
        left: 0;
        z-index: -1;
    }

    .team-projects-bg-4 {
        content: "";
        position: absolute;
        width: 100%;
        height: 100vh;
        margin-top: 300vh;
        background: linear-gradient(to top right, #F8F9FA 50%, #DEE2E6 50%);
        top: 0;
        left: 0;
        z-index: -1;
    }

    .section-container {
        padding: 6em 6em;
    }

    .upper-section {
        margin-bottom: 10em;

        .header-my-works {
            h1 {
                font-size: 32px;
                line-height: 1em;
            }

            p {
                font-size: 14px;
            }
        }

        .content {

            .content-projects-desktop {
                text-align: center;
                clear: both;
                display: flex;

                .each-projects-desktop {
                    display: unset;
                    float: left;
                    width: 20%;
                    padding: 1em;

                    .image-project {
                        width: 100%;
                        height: auto;
                    }

                    .project-title {
                        margin-bottom: 0.4em;
                        display: block;
                        font-size: 0.80em;
                    }

                    .card-body {
                        display: none;
                    }
                }

                .each-projects-mobile {
                    display: none;
                }
            }

        }
    }

    .lower-section {
        color: #F8F9FA;

        .header-my-works {
            h1 {
                font-size: 32px;
                line-height: 1em;
            }

            p {
                font-size: 14px;
            }
        }

        .content {
            .content-projects-desktop {
                text-align: center;
                display: flex;
                clear: both;

                .each-projects-desktop {
                    display: unset;
                    float: left;
                    width: 20%;
                    padding: 1em;

                    .project-title {
                        margin-bottom: 0.4em;
                        display: block;
                        font-size: 0.80em;
                    }

                    .image-project {
                        width: 100%;
                        height: auto;
                    }

                    .card-body {
                        display: none;
                    }
                }

                .each-projects-mobile {
                    display: none;
                }
            }

        }
    }

    .team-projects {
        padding: 3em 6em;
        position: relative;

        .text-team {
            margin-bottom: 2em;
            font-weight: 600;
            color: #9E00FF;
            letter-spacing: 0.15em;
            font-size: 1.5em;

        }

        .content-portfolio {
            margin-bottom: 4em;
            overflow: hidden;

            .right {
                float: right;
                width: 50%;

                .text {
                    padding: 5em;
                    padding-top: 2em;
                    line-height: 1.5em;

                    h1 {
                        line-height: 1.5em;
                    }

                    p {
                        margin-top: 2em;
                    }


                }



            }

            .left {
                float: left;
                width: 50%;

                .text {
                    h1 {
                        line-height: 1.5em;
                    }

                    p {
                        margin-top: 2em;
                    }

                    padding-top: 2em;
                    padding-right: 5em;
                    line-height: 1.5em;

                }
            }



            h1 {
                font-weight: 600;
                font-size: 2.5em;
                margin-bottom: 0em
            }

            .role {
                font-weight: 200;
                font-size: 1.2em;
            }

            .line {
                font-weight: 600;
                font-size: 1.3em;

            }

            .stack {
                font-weight: 600;
                font-size: 0.75em;
                color: #9E00FF;

            }

            .portfolio-image {
                margin-top: 1em;
                width: 100%;
                filter: drop-shadow(2px 2px 2px #343A40);
                padding: 0.3em;
            }
        }

    }


}