
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.big-text{
  margin:20px
}

.contact-icon{
  width: 100%;
  height: auto;
}

.div-icons{
  margin-right: 2vh;
}
